body {
  background-color: rgb(40, 44, 51);
}

/* .App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(3, 250px);
  
  justify-items: center;
  align-items: center;
} */

.App {
  --img-dim: 150px;
  --img-margin: 1rem;
  --pics-per-row: 5;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(var(--pics-per-row) * (var(--img-dim) + (2 * var(--img-margin))));
  margin: 0 auto;
}

.image-placeholder {
  margin: var(--img-margin);
  width: var(--img-dim);
  height: var(--img-dim);
  background-color: #00000010;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

/* this removes the CRA error overlay */
iframe {
  display: none;
}

img {
  margin: var(--img-margin);
  width: var(--img-dim);
  height: var(--img-dim);
  object-fit: cover;
  border-radius: 50%;
}

.suspense-image {
  animation: fadein 1000ms;
  animation-delay: fadein 500ms;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
